language: python
python:
  - "3.7"
  - "3.8"
  - "3.9"
  - "3.10"

env:
  - DJANGO="django<3"  # 2.2.x
  - DJANGO="django<4"  # 3.2.x
  - DJANGO="django<4.1"  # 4.0.x
  - DJANGO="git+git://github.com/django/django.git@master#egg=django"

# command to install dependencies
install:
  - pip install $DJANGO --use-mirrors
  - pip install -r requirements.txt --use-mirrors

# command to run tests
script:
  - coverage run --source=jstemplate jstemplate/tests/project/manage.py test
after_success:
  - pip install --quiet coveralls
  - coveralls
