language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"

env:
  - DJANGO="Django<1.4"
  - DJANGO="Django<1.5"
  - DJANGO="Django<1.6"
  - DJANGO="git+git://github.com/django/django.git@master#egg=django"

# command to install dependencies
install: ci/install.sh

# command to run tests
script: python runtests.py

matrix:
  exclude:
    - python: "3.2"
      env: DJANGO="django<1.4"
    - python: "3.3"
      env: DJANGO="django<1.4"
    - python: "3.2"
      env: DJANGO="django<1.5"
    - python: "3.3"
      env: DJANGO="django<1.5"
